# Import

In [2]:
import pandas as pd 
import numpy as np
import csv

In [45]:
#df = pd.read_csv("datasets/names.csv",index_col=False, header=0, )
# df = pd.read_csv('datasets/names.csv', header = None, index_col = 0, squeeze = True)
df = pd.read_csv('datasets/tips.csv',  delimiter=',')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [65]:
df[dtype='object'].describe()

SyntaxError: invalid syntax (3907094999.py, line 1)