In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [53]:
df = pd.read_json('../datasets/my_file.json')
df

,id,name,year,height,longitude,latitude,average,mehr,aban,azar,dey,bahman,esfand,farvardin,ordibehesht,khordad,tir,mordad,sharivar,site
0,1872,ردیف,1404-1405,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,
1,1873,1,1404-1405,-1,20.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,
2,1874,2,1404-1405,-1,30.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,
3,1875,3,1404-1405,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,
4,1876,\r\n\t\t\t,1404-1405,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1712,3584,\r\n\t\t\t,1403-1404,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,https://www.ilrw.ir/
1713,3585,\r\n\t\t\t,1403-1404,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,https://www.ilrw.ir/
1714,3586,\r\n\t\t\t,1403-1404,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,https://www.ilrw.ir/
1715,3587,http://qmrw.ir/uploaded_files/DCMS/wysiwyg/fil...,1403-1404,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,https://www.kdrw.ir/
1716,3588,-,1403-1404,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,https://www.kdrw.ir/

In [63]:
# Remove Wrong crawled data
df = df.loc[~(
        (df['mehr'] == -1) &
        (df['aban'] == -1) &
        (df['azar'] == -1) &
        (df['dey'] == -1) &
        (df['bahman'] == -1) &
        (df['esfand'] == -1) &
        (df['farvardin'] == -1) &
        (df['ordibehesht'] == -1) &
        (df['khordad'] == -1) &
        (df['tir'] == -1) &
        (df['mordad'] == -1) &
        (df['sharivar'] == -1)
)
]

,id,name,year,height,longitude,latitude,average,mehr,aban,azar,dey,bahman,esfand,farvardin,ordibehesht,khordad,tir,mordad,sharivar,site
16,1888,خیرآباد,1390-1391,1095,53.251163,35.322337,6.0,-1.0,51.0,6.5,-1.0,-1.0,6.0,23.0,11.5,1.0,5.0,-1.0,13.5,https://www.glrw.ir/
17,1889,ده صوفیان,1390-1391,831,53.234400,35.490200,234.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,69.0,36.0,9.0,11.5,-1.0,4.0,https://www.glrw.ir/
18,1890,دامغان-دانشگاه آزاد,1390-1391,1186,54.184076,36.100600,110.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,12.0,1.5,4.5,4.0,-1.0,6.0,https://www.lsrw.ir/
19,1891,آستانه (دامغان),1390-1391,942,54.055700,36.160500,124.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,25.0,17.0,7.5,8.5,-1.0,10.5,https://www.lsrw.ir/
20,1892,چهارده دامغان,1390-1391,1816,54.131154,36.245736,144.0,-1.0,-1.0,-1.0,-1.0,-1.0,12.5,26.0,28.5,11.0,4.0,-1.0,4.0,https://www.lsrw.ir/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1703,3575,وسج,1403-1404,1566,48.223138,34.323728,469.0,11.0,59.0,4.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,http://www.agrw.ir/
1704,3576,وراینه,1403-1404,1795,48.404136,34.075465,543.0,14.0,59.0,4.5,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,http://www.agrw.ir/
1705,3577,آق کهریز,1403-1404,1844,48.331079,34.990514,320.0,7.5,57.5,5.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,http://www.glrw.ir/
1706,3578,قهاوند,1403-1404,1554,49.003825,34.860865,246.0,1.0,55.5,3.5,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,http://www.glrw.ir/
1707,3579,خمیگان,1403-1404,1869,49.022044,35.371977,286.0,6.5,52.0,15.5,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,http://www.glrw.ir/

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1558 entries, 16 to 1707
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1558 non-null   int64
 1   name         1558 non-null   object
 2   year         1558 non-null   object
 3   height       1558 non-null   int64
 4   longitude    1558 non-null   float64
 5   latitude     1558 non-null   float64
 6   average      1558 non-null   float64
 7   mehr         1558 non-null   float64
 8   aban         1558 non-null   float64
 9   azar         1558 non-null   float64
 10  dey          1558 non-null   float64
 11  bahman       1558 non-null   float64
 12  esfand       1558 non-null   float64
 13  farvardin    1558 non-null   float64
 14  ordibehesht  1558 non-null   float64
 15  khordad      1558 non-null   float64
 16  tir          1558 non-null   float64
 17  mordad       1558 non-null   float64
 18  sharivar     1558 non-null   float64
 19  site         1558 non-null   object
dtypes: float64(15), int64(2), object(3)
memory usage: 255.6+ KB

In [59]:
df.describe()

,id,height,longitude,latitude,average,mehr,aban,azar,dey,bahman,esfand,farvardin,ordibehesht,khordad,tir,mordad,sharivar
count,1558.000000,1558.000000,1558.000000,1.558000e+03,1558.000000,1558.000000,1558.000000,1558.000000,1558.000000,1558.000000,1558.000000,1558.000000,1558.000000,1558.000000,1558.000000,1558.000000,1558.000000
mean,2732.792041,1213.948652,138852.241221,9.277211e+05,224.404942,16.224069,43.143838,41.817073,31.062805,38.644929,34.341110,48.154236,31.512291,8.479782,4.966087,3.384018,5.353081
std,484.869632,602.619643,209623.556457,1.611946e+06,203.096799,44.182836,51.543834,49.156300,42.049135,45.366236,34.883589,51.745218,34.431268,17.947086,18.720273,12.195598,25.883435
min,1888.000000,0.000000,-78.000000,-7.900000e+01,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,2325.250000,942.000000,0.000000,0.000000e+00,90.400000,-1.000000,9.500000,7.000000,5.000000,5.000000,8.000000,6.500000,1.850000,-1.000000,-1.000000,-1.000000,-1.000000
50%,2718.500000,1338.000000,0.000000,0.000000e+00,173.300000,4.000000,28.000000,25.000000,17.000000,26.500000,26.000000,33.000000,23.000000,0.200000,-1.000000,-1.000000,-1.000000
75%,3153.750000,1611.000000,360123.000000,3.601280e+05,294.000000,15.500000,57.000000,59.075000,39.000000,53.000000,50.975000,75.675000,47.575000,9.000000,3.000000,1.875000,0.000000
max,3579.000000,2600.000000,621713.000000,4.196220e+06,1170.000000,477.500000,449.800000,331.700000,393.000000,310.200000,218.000000,351.000000,199.100000,169.500000,277.500000,145.300000,261.000000

In [60]:
def custom_group_by(group_by_col: str = 'year', func: str = 'mean'):
    return df.groupby(group_by_col).agg(
        mean_height=('height', func),
        mean_longitude=('longitude', func),
        mean_latitude=('latitude', func),
        mean_average=('average', func),
        mean_mehr=('mehr', func),
        mean_aban=('aban', func),
        mean_azar=('azar', func),
        mean_dey=('dey', func),
        mean_bahman=('bahman', func),
        mean_esfand=('esfand', func),
        mean_farvardin=('farvardin', func),
        mean_ordibehesht=('ordibehesht', func),
        mean_khordad=('khordad', func),
        mean_tir=('tir', func),
        mean_mordad=('mordad', func),
        mean_sharivar=('sharivar', func),
    )

In [61]:
custom_group_by('year', 'mean')

,mean_height,mean_longitude,mean_latitude,mean_average,mean_mehr,mean_aban,mean_azar,mean_dey,mean_bahman,mean_esfand,mean_farvardin,mean_ordibehesht,mean_khordad,mean_tir,mean_mordad,mean_sharivar
year,,,,,,,,,,,,,,,,
1390-1391,1300.769231,156756.639132,1.044219e+06,280.846154,-1.000000,45.846154,18.653846,15.038462,42.730769,15.207692,52.884615,19.815385,4.923077,4.346154,-1.000000,3.961538
1391-1392,1282.142857,145563.468866,9.696343e+05,270.642857,4.142857,43.414286,70.485714,43.821429,30.907143,29.521429,17.042857,23.192857,1.107143,-0.035714,-0.092857,2.357143
1392-1393,909.961538,451826.538462,2.957300e+06,462.000000,-1.000000,107.365385,61.038462,142.711538,39.788462,39.500000,47.365385,0.096154,-0.923077,1.192308,2.442308,-0.942308
1393-1394,712.924528,289844.260746,1.995410e+06,289.283019,21.094340,21.220755,37.460377,6.886792,15.056604,19.592453,25.666038,8.373585,0.215094,10.406849,0.528302,16.226415
1394-1395,1093.801471,109178.536836,7.948711e+05,234.865441,28.517647,92.435294,36.305882,40.838603,32.420588,36.642647,64.160294,21.445956,18.151471,12.534559,3.972794,13.334559
1395-1396,1133.476190,101134.815635,7.030953e+05,224.642540,14.381746,34.853968,42.060317,15.146032,66.179365,28.721429,54.506349,27.749206,2.372222,2.084921,1.142857,2.887302
1396-1397,1307.338983,189124.707689,1.538938e+06,246.284633,18.227684,33.775141,22.366102,17.586441,58.406780,36.701130,46.988136,68.633333,25.038418,2.048023,2.526554,2.588701
1397-1398,1263.959302,161314.551123,1.141634e+06,240.925872,26.222093,67.537209,81.513953,52.715116,56.225000,36.060465,92.025000,33.896512,9.556977,6.981977,2.034302,7.830814
1398-1399,1325.131737,159041.153718,1.103683e+06,252.810838,15.286228,45.401198,56.879042,49.695210,45.957485,61.827545,103.197006,47.454491,4.531737,8.743114,6.203593,7.572455
1399-1400,1286.534884,151870.451575,8.472217e+05,206.407442,10.085465,31.427907,63.780814,13.658140,35.004651,32.871512,21.495930,27.120349,3.472093,5.752907,9.076744,2.177326
1400-1401,1159.390374,111787.222839,6.043108e+05,176.005561,9.958824,37.057219,33.630481,41.888235,19.566845,33.594652,13.081283,29.698396,2.797861,1.794652,4.285561,1.816043
1401-1402,1156.000000,90108.210268,5.516890e+05,179.779333,8.528333,23.880556,21.261111,21.511667,39.002222,39.694167,45.453889,30.186111,13.605556,5.036667,2.442222,8.805556
1402-1403,1369.000000,50610.983314,2.155044e+05,188.820155,23.133333,23.146512,11.731783,11.795349,2.034884,0.976744,1.662791,0.817829,-0.144961,-0.914729,-0.918605,-0.930233
1403-1404,1764.166667,48.597894,3.473041e+01,368.000000,7.333333,56.500000,5.750000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000

In [62]:
# df.year.unique()
df[df.year=='1402-1401']

Empty DataFrame
Columns: [id, name, year, height, longitude, latitude, average, mehr, aban, azar, dey, bahman, esfand, farvardin, ordibehesht, khordad, tir, mordad, sharivar, site]
Index: []