In [99]:
import numpy as np
import pandas as pd
import os
os.getcwd()

'/home/rahmani/work/ali/ML/notebook/W2/notes'

# Tips

In [7]:
df = pd.read_csv('../../../datasets/tips.csv')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

سوال:‌چه میانگینی برای جامعه میانگین بهتری است. میانگین کل افراد یا میانگین سایز خانواده برا تعدا خانواده 

sume(total - bill)/(sum(size))

(sume(total - bill)/size)/count(family)

In [8]:
df = df[(df['day'] == 'Sat') | (df['day'] == 'Sun')].loc[:,['tip','total_bill',']]
df

SyntaxError: unterminated string literal (detected at line 1) (2872840739.py, line 1)

In [ ]:
from typing import Callable
def encoder_column(col_name:str)-> Callable:
    def inner(x:pd.Series) -> pd.Series:
        if x.name == col_name:
            categories:list = x.uniques()
            for k,v in x.items():
                x[k] = categories.index(v)
        return x
    return inner

In [ ]:
df.apply(encoder_column('sex'))

# Esm Famil

بازی اسم‌فامیل

سلیب که از تنهایی و خانه‌نشینی حوصله‌اش سر رفته تصمیم گرفته که دوستانش را دعوت کند تا با آن‌ها اسم‌فامیل بازی کند.

بعد از رسیدن دوستان سلیب آن‌ها بازی را شروع کردند، اما بعد از تمام شدن دست اول در امتیاز‌دهی دچار مشکل شده‌اند. هیچ‌کس کلمات دیگری را قبول نداشت به همین خاطر نمره‌ی هر کلمه نامشخص بود.

سلیب و دوستانش برنامه‌نویس هستند و فقط به برنامه‌ها اعتماد دارند. به همین خاطر از شما می‌خواهند برایشان برنامه‌ای بنویسید تا با دریافت فایل تمامی کلمات قابل قبول طبق قوانین ذکر شده، بتواند به او و دوستانش نمره‌ای صحیح بدهد.

https://quera.org/problemset/87182/

### !!! اگر خودشون برنامه نویس هستن بنویسن دیگه از ما چرا میخوان !!!

In [2]:
def ready_up(path:str='./esm_famil_data.csv'):
    return pd.read_csv('../../../datasets/esm_famil_data.csv')

In [3]:
df_game = ready_up(path='../../../datasets/esm_famil_data.csv')

In [4]:
players = {}
players_score = {}

In [5]:
def add_participant(participant, answers):
    players[participant] = answers
    players_score[participant] = 0
    return players

In [6]:
score={
    "all_invalid" : 0,
    "all_duplicate" : 0,
    "all_distinc" : 0,
    "invalid" : 0,
    "duplicate" : 0,
    "distinct" : 0
}

In [92]:
add_participant(
    participant = 'salib',
    answers = {
        'esm': 'بردیا', 'famil': 'بابایی', 'keshvar': 'باربادوس',
        'rang': 'بنفش', 'ashia': '651651', 'ghaza': 'باقالیپلو'
        })
add_participant(
    participant = 'meli',
    answers = {
        'esm': '', 'famil': 'بانی', 'keshvar': 'باربادوس',
        'rang': 'بنفش', 'ashia': 'بمب', 'ghaza': 'باقالیپلو'
        })

add_participant(
    participant = 'ali',
    answers = {
        'esm': 'بردیا', 'famil': 'بابایی', 'keshvar': 'باهاما',
        'rang': 'بنفش', 'ashia': 'بمب', 'ghaza': 'باقی'
        })

add_participant(
    participant = 'yasi',
    answers = {
        'esm': 'بردار', 'famil': 'بابازاده', 'keshvar': 'بارسا',
        'rang': 'بزی', 'ashia': 'بیب بیب', 'ghaza': 'باشماق'
        });

In [93]:
players_score = {}
players

{'salib': {'esm': 'بردیا',
  'famil': 'بابایی',
  'keshvar': 'باربادوس',
  'rang': 'بنفش',
  'ashia': '651651',
  'ghaza': 'باقالیپلو'},
 'meli': {'esm': '',
  'famil': 'بانی',
  'keshvar': 'باربادوس',
  'rang': 'بنفش',
  'ashia': 'بمب',
  'ghaza': 'باقالیپلو'},
 'ali': {'esm': 'بردیا',
  'famil': 'بابایی',
  'keshvar': 'باهاما',
  'rang': 'بنفش',
  'ashia': 'بمب',
  'ghaza': 'باقی'},
 'yasi': {'esm': 'بردار',
  'famil': 'بابازاده',
  'keshvar': 'بارسا',
  'rang': 'بزی',
  'ashia': 'بیب بیب',
  'ghaza': 'باشماق'}}

In [94]:
players_name = list(players.keys())
players_score = { i:0 for i in  players_name}

In [95]:

def calculate_all(col:pd.Series)->pd.Series:  
    game_col = df_game[col.name]
        
    for i,v in enumerate(col):
        count_same = list(col).count(v)

        # print(i,v,count_same)
        if game_col.isin([v]).any():
            if col.all():
                if count_same == 0:
                    players_score[players_name[i]] += 0
                elif count_same == 1:
                    players_score[players_name[i]] += 10
                else:
                    players_score[players_name[i]] += 5
            else:
                if count_same == 0:
                    players_score[players_name[i]] += 0
                elif count_same == 1:
                    players_score[players_name[i]] += 15
                else:
                    players_score[players_name[i]] += 10
    return col

In [96]:
data = pd.DataFrame(players)

In [97]:
data.apply(calculate_all, axis=1)

             salib       meli     ali      yasi
esm          بردیا              بردیا     بردار
famil       بابایی       بانی  بابایی  بابازاده
keshvar   باربادوس   باربادوس  باهاما     بارسا
rang          بنفش       بنفش    بنفش       بزی
ashia       651651        بمب     بمب   بیب بیب
ghaza    باقالیپلو  باقالیپلو    باقی    باشماق

In [98]:
players_score

{'salib': 25, 'meli': 25, 'ali': 35, 'yasi': 0}