In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [10]:
raw_df = pd.read_csv('../../../../../Downloads/Datasets/Food_Establishment_Inspection_Data.csv')

/tmp/ipykernel_10619/2576279482.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_df = pd.read_csv('../../../../../Downloads/Datasets/Food_Establishment_Inspection_Data.csv')

In [5]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255582 entries, 0 to 255581
Data columns (total 22 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Name                        255582 non-null  object
 1   Program Identifier          255582 non-null  object
 2   Inspection Date             254921 non-null  object
 3   Description                 255582 non-null  object
 4   Address                     255582 non-null  object
 5   City                        255582 non-null  object
 6   Zip Code                    255582 non-null  object
 7   Phone                       184808 non-null  object
 8   Longitude                   255179 non-null  float64
 9   Latitude                    255179 non-null  float64
 10  Inspection Business Name    254921 non-null  object
 11  Inspection Type             254921 non-null  object
 12  Inspection Score            254882 non-null  float64
 13  Inspection Result           254921 non-null  object
 14  Inspection Closed Business  254921 non-null  object
 15  Violation Type              142330 non-null  object
 16  Violation Description       142330 non-null  object
 17  Violation Points            255582 non-null  int64
 18  Business_ID                 255582 non-null  object
 19  Inspection_Serial_Num       254921 non-null  object
 20  Violation_Record_ID         142330 non-null  object
 21  Grade                       193630 non-null  float64
dtypes: float64(4), int64(1), object(17)
memory usage: 42.9+ MB

In [6]:
raw_df.describe()

,Longitude,Latitude,Inspection Score,Violation Points,Grade
count,255179.000000,255179.000000,254882.000000,255582.000000,193630.000000
mean,-122.197295,47.563608,14.094679,4.390485,1.418881
std,3.783447,0.128476,20.268395,6.105445,0.618843
min,-122.898939,47.043716,-2.000000,0.000000,1.000000
25%,-122.333585,47.479268,0.000000,0.000000,1.000000
50%,-122.299119,47.602468,5.000000,3.000000,1.000000
75%,-122.197717,47.661462,20.000000,5.000000,2.000000
max,122.384610,48.772284,180.000000,30.000000,4.000000

In [11]:
df = raw_df.dropna()

In [14]:
df.info() , df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 94087 entries, 0 to 255581
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Name                        94087 non-null  object
 1   Program Identifier          94087 non-null  object
 2   Inspection Date             94087 non-null  object
 3   Description                 94087 non-null  object
 4   Address                     94087 non-null  object
 5   City                        94087 non-null  object
 6   Zip Code                    94087 non-null  object
 7   Phone                       94087 non-null  object
 8   Longitude                   94087 non-null  float64
 9   Latitude                    94087 non-null  float64
 10  Inspection Business Name    94087 non-null  object
 11  Inspection Type             94087 non-null  object
 12  Inspection Score            94087 non-null  float64
 13  Inspection Result           94087 non-null  object
 14  Inspection Closed Business  94087 non-null  object
 15  Violation Type              94087 non-null  object
 16  Violation Description       94087 non-null  object
 17  Violation Points            94087 non-null  int64
 18  Business_ID                 94087 non-null  object
 19  Inspection_Serial_Num       94087 non-null  object
 20  Violation_Record_ID         94087 non-null  object
 21  Grade                       94087 non-null  float64
dtypes: float64(4), int64(1), object(17)
memory usage: 16.5+ MB

(None,
           Longitude      Latitude  Inspection Score  Violation Points  \
 count  94087.000000  94087.000000      94087.000000      94087.000000
 mean    -122.259032     47.579839         26.648825          7.910306
 std        1.132134      0.120539         21.986992          6.386322
 min     -122.463869     47.195276          0.000000          2.000000
 25%     -122.333396     47.526722         10.000000          5.000000
 50%     -122.307869     47.613187         20.000000          5.000000
 75%     -122.202739     47.663361         35.000000         10.000000
 max      122.234570     47.777624        180.000000         30.000000

               Grade
 count  94087.000000
 mean       1.530190
 std        0.666124
 min        1.000000
 25%        1.000000
 50%        1.000000
 75%        2.000000
 max        4.000000  )